<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>
      Clássica
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
  <ion-card>
    <ion-item class="ion-text-right">
      <ion-label>29+01+2003</ion-label>
    </ion-item>

    <ion-item>
      <spam class="resultado">=</spam>
      <ion-label class="ion-text-right resultado"></ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="block" color="warning">C</ion-button> 
        </ion-col>
        <ion-col>
          <ion-button expand="block" color="warning">DEL</ion-button>  
        </ion-col>
        <ion-col>
          <ion-button expand="block" color="warning">.</ion-button> 
        </ion-col>
        <ion-col>
          <ion-button expand="block" color="warning">/</ion-button> 
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="block" color="warning">7</ion-button> 
        </ion-col>
        <ion-col>
          <ion-button expand="block" color="warning">8</ion-button>  
        </ion-col>
        <ion-col>
          <ion-button expand="block" color="warning">9</ion-button> 
        </ion-col>
        <ion-col>
          <ion-button expand="block" color="warning">*</ion-button> 
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="block" color="warning">4</ion-button> 
        </ion-col>
        <ion-col>
          <ion-button expand="block" color="warning">5</ion-button>  
        </ion-col>
        <ion-col>
          <ion-button expand="block" color="warning">6</ion-button> 
        </ion-col>
        <ion-col>
          <ion-button expand="block" color="warning">-</ion-button> 
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="block" color="warning">1</ion-button> 
        </ion-col>
        <ion-col>
          <ion-button expand="block" color="warning">2</ion-button>  
        </ion-col>
        <ion-col>
          <ion-button expand="block" color="warning">3</ion-button> 
        </ion-col>
        <ion-col>
          <ion-button expand="block" color="warning">+</ion-button> 
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="block" color="warning">?</ion-button> 
        </ion-col>
        <ion-col>
          <ion-button expand="block" color="warning">0</ion-button>  
        </ion-col>
        <ion-col size="6">
          <ion-button expand="block" color="warning">=</ion-button> 
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>
